:root { /* :root serve para cricar variavel dentro do css */
    --primary-color: #EE5522; 
    --white-color: #ffff;
    --gap: 3rem


}
* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-family: 'Montserrat', sans-serif;
}


html {
    font-size: 62.5%;
}
body {
    font-family: 'Open sans', sans-serif;
    font-size: 2rem;
    color: var(--primary-color);
    
    
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat' , sans-serif;
}

h1 {
    font-size: 6rem;
    text-transform: uppercase;
}

h2 {
    font-size: 5.5rem;
    
}

h3 {
    font-size: 5rem;
    
}
h4 {
    font-size: 4.5rem;
    
}

h5 {
    font-size: 4rem;
    
}

h6 {
    font-size: 3.5rem;
    
}

.main-bg {
    background-image: url(../img/sun-tornado.png);
    background-size: cover;
    background-position: center center;
    color: var(--white-color);
    
}

.white-bg {
    background-image: url(../img/sun-tornado.png);
    background-size: cover;
    background-position: center center;
    color: var(--white-color);
    background: var(--white-color) ;
}


.main-conteiner {
    max-width: 1200px;
    margin: 0 auto;
    padding: var(--gap);
}

.section {
    min-height: 100vh;  /* a sessão inteira vai ter a altura de 100vh*/
}